# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=crypto_ods
AIRFLOW_DB=airflow_db

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:29092

# AWS
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_REGION=ap-southeast-2
S3_BUCKET_NAME=your_bucket_name

# BigQuery
BIGQUERY_PROJECT_ID=your_project_id
BIGQUERY_DATASET=crypto_analytics

# Google Cloud
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/gcp-service-account.json
GOOGLE_CREDENTIALS_FILE=./gcp-service-account.json

# Discord
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/...
DISCORD_BOT_TOKEN=your_bot_token
DISCORD_CHANNEL_ID=123456789012345678

# Airflow
AIRFLOW_FERNET_KEY=